*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url('img/flat-lay-notebook-with-list-desk.jpg') no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.main-container {
    width: 800px;
    height: auto;
    overflow: hidden; /* Initially hide the scroll */
    padding-left: 75px;
  }

#container{
    width: 650px;
    height: 80px;
    padding: 15px 10px;
    background: #ffffff95;
    border-radius: 15px;
    box-shadow: 0 0 3px;

    display: flex;
}

#input-task{
    flex: 5;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.5rem;
    border-style: none;
    padding: 0px 5px;
    margin-right: 5px;
}

#add-task{
    flex: 1;
    transition: .3s;
    font-size: 1.5rem;
    padding: 5px;
    border-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#add-task:hover{
    cursor: pointer;
    background-color: rgb(0, 169, 0);
    color: #fff;
}



/* JS Style */

.line{
    text-decoration: line-through;
}

.task-con{
    margin-top: 10px;
    width: 650px;
    padding: 15px 10px;
    background: #ffffff95;
    border-radius: 15px;
    box-shadow: 0 0 3px;

    display: flex;
    justify-content: space-between;
}

.task-con li{
    padding: 10px 5px;
    /* background-color: #fff; */
    height: 50px;
    font-size: 1.5rem;
    list-style: none;
    flex: 3;
}

.task-con .checking{
    width: 70px;
    border: 1px solid rgb(0, 144, 0);
    border-radius: 10px;
    transition: .4s;
    font-size: 1.2rem;
    margin-right: 5px;
    margin-left: 5px;
}

.task-con .checking:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 169, 0);
}

.task-con .delete{
    width: 70px;
    border: 1px solid rgb(255, 3, 3);
    border-radius: 10px;
    transition: .4s;
    font-size: 1.2rem;
}

.task-con .delete:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgb(255, 3, 3);
}